doctype 5
html(ng-app="myApp")
  head
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='lib.min.css', media='screen')
    script(src="traceur-runtime.min.js")
    script(src="jquery.min.js")
    script(src="lib.min.js")
    script(src="all.coffee.min.js")
    script(src="all.es6.min.js")

  body(class="container", ng-controller="ProductsController")
    div(class="well", ng-repeat="p in products")
      div(class="row")
        div(class="col-md-2") Name
        div(class="col-md-4") {{ p.name }}

      div(class="row")
        div(class="col-md-2") Price
        div(class="col-md-4") {{ p.price }}

      div(class="row")
        div(class="col-md-2") Quantity
        input(type='number', class="colo-md-4", ng-model="p.quantity")

      div(class="row pull-right")
        div(class="col-md-2") Total
        div(class="col-md-4 col-md-offset-2") {{ p.price * p.quantity }}

     h2(class="pull-right") Grand Total : {{ grandTotal() }}